@using frontend.Configuration
@using Microsoft.Extensions.Options
@inject IOptions<WebpageContent> Content

<div id="@ContainerId">
    <img id="@ProfileImageId" src="@ImageSource" alt="Embedded image"/>
    <img id="@FrameId" src="@FrameSource" alt="Embedded image"/>
</div>

@code
{
    /// <summary>
    /// Image to be inserted into the frame
    /// </summary>
    [Parameter]
    public string? ImageSource { get; set; }
    /// <summary>
    /// Source of the frame.
    /// Intended to be an image that is transparent in the middle.
    /// </summary>
    [Parameter]
    public string? FrameSource { get; set; }
    const string ProfileImageId = "profileImage";
    const string FrameId = "frame";
    const string ContainerId = "container";
}