@using Microsoft.Extensions.Options
@using frontend.Configuration
@inherits LayoutComponentBase
@inject IOptions<WebpageContent> Content


<PageTitle>John Kelliher</PageTitle>

<div class="page">
    <div id="@BannerId" style="background-image: url('@Content.Value.TopRowPath')">
        @foreach (var link in Content.Value.Links)
        {
            <div id="@BannerLinkId"><a href="@link.Href" target="_blank">@link.DisplayText</a></div>
        }
    </div>
    <main>
        <div id="@ProfileId" style="background-image: url('@Content.Value.WallImagePath')">
            <div id="@PadderId">
                <div id="@FrameDivId" class="@LeftClass"><img id="@LeftFrameId" src="@Content.Value.SideFramePath" alt="left frame"/></div>
                <div id="@FrameDivId" class="@RightClass"><img id="@RightFrameId" src="@Content.Value.SideFramePath" alt="right frame"/></div>
                <div id="@SpacerId"></div>
                @Body
            </div>
            <div id="@FooterId" style="background-image: url('@Content.Value.RedPath')">
                @foreach (var link in Content.Value.Links)
                {
                    <a href="@link.Href" target="_blank">@link.DisplayText</a>
                }
            </div>
        </div>
    </main>
</div>

@code
{
    private const string RightClass = "right";
    private const string LeftClass = "left";
    private const string ProfileId = "profile";
    private const string PadderId = "padder";
    private const string BannerLinkId = "bannerLink";
    private const string RightFrameId = "rightFrame";
    private const string LeftFrameId = "leftFrame";
    private const string FrameDivId = "frameDiv";
    private const string FooterId = "footer";
    private const string BannerId = "banner";
    private const string SpacerId = "spacer";
}
